<div >
    <h2>Payee Information</h2>
    <md-input-container class="pad8">
        <label>Pay to:</label>
        <input class="pad8" type="text">
    </md-input-container>
    <md-input-container class="pad8">
        <label>Address:</label>
        <input class="pad8" type="text">
    </md-input-container>
    <md-input-container class="pad8">
        <label>City:</label>
        <input class="pad8" type="text">
    </md-input-container>
    <div layout="row" layout-align="space-between">
        <md-input-container flex="45">
            <label>State:</label>
            <input class="pad8" type="text">
        </md-input-container>
        <md-input-container flex="45">
            <label>ZipCode:</label>
            <input class="pad8" type="text">
        </md-input-container>
    </div>
    <md-input-container class="pad8">
        <label>Your Account Number:</label>
        <input class="pad8" type="text">
    </md-input-container>
    <md-input-container class="pad8">
        <label>Bill Type:</label>
        <input class="pad8" type="text">
    </md-input-container>
    <md-input-container>
        <label>Phone Number: (used for verification)</label>
        <input class="pad8" type="text">
    </md-input-container>
    <div layout="row" layout-align="space-between">
        <button class="btn btnAqua" ng-click="closeLightBox()" ng-disabled="showPin" flex="45">Cancel</button>
        <button class="btn btn-primary" ng-click="startSend(recipient)" ng-disabled="showPin" flex="45">Save</button>
    </div>
</div>
