<!DOCTYPE html>
<html>
<head>
	<title></title>
	  <script type="text/javascript" src="https://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
</head>
<body>
<%= message%>
<div>Maybe add vid.</div>
<script>
Parse.initialize("ALBGBqNftuVGOR9vZV1oLbePj8Yid74CvFUosT7W", "TY6nDXDuJth1nQLRuPxP6HttmpTxHwexZhxam8Us")
Parse.User.become('<%= sessionToken%>').then(function (user) {
  // The current user is now set to user.
  var a = document.createElement("a"); 
  a.href =  '/register';
 var linkText = document.createTextNode("Continue")
 a.appendChild(linkText);
  document.body.appendChild(a);
  console.log("Became");
}, function (error) {
  // The token could not be validated.
});
</script>
</body>
</html>