<div class="colSubNav">
    <div class="subNav" layout="row">
        <div ng-include="'../views/dash/content/account/partials/nav.html'" scope="" onload="" flex></div>
        <a href="" class="btn btn-primary" ng-click="loadPayeeSetup(account)"><i class="mdfi_content_add"></i>  Add Bill Payee</a>
    </div>
</div>
<div class="colTitle">
    <h1 class="flexCon mar0">Pay Bills</h1>
    <div class="">
        <small>account number</small>
        <br>
        <span class="text-big">000-0002-00132</span>
    </div>
</div>
<div layout="column" layout-align="start center">
    <h2 class="text-light text-center">To get started add your first bill payee.</h2>
    <div class="card md-whiteframe-z3" style="width:382px;">
        <h3 class="text-center marBottom0">Payee Information</h3>
        <div class="padSide16">
            <md-input-container class="padBottom8">
                <label>Pay to:</label>
                <input class="pad0" type="text">
            </md-input-container>
            <md-input-container class="padBottom8">
                <label>Address:</label>
                <input class="pad0" type="text">
            </md-input-container>
            <md-input-container class="padBottom8">
                <label>City:</label>
                <input class="pad0" type="text">
            </md-input-container>
            <div layout="row" layout-align="space-between center">
                <md-input-container flex="45" class="padBottom8">
                    <label>State:</label>
                    <input class="pad0" type="text">
                </md-input-container>
                <md-input-container flex="45" class="padBottom8">
                    <label>ZipCode:</label>
                    <input class="pad0" type="text">
                </md-input-container>
            </div>
            <md-input-container class="padBottom8">
                <label>Your Account Number:</label>
                <input class="pad0" type="text">
            </md-input-container>
            <md-input-container class="padBottom8">
                <label>Bill Type:</label>
                <input class="pad0" type="text">
            </md-input-container>
            <md-input-container class="padBottom16">
                <label>Phone Number: (used for verification)</label>
                <input class="pad0" type="text">
            </md-input-container>
            <div layout="row" layout-align="space-between" class="padBottom16">
                <button class="btn btnAqua" ng-click="closeLightBox()" ng-disabled="showPin" flex="45">Clear</button>
                <button class="btn btn-primary" ng-click="startSend(recipient)" ng-disabled="showPin" flex="45">Save</button>
            </div>
        </div>
    </div>
</div>
