<md-card class="bounceInRight animated">
    <!--<div class="" flex layout="row" layout-align="end center" style="background:white;">
			<span class="mdfi_navigation_close" ui-sref="inbox" ng-click="$root.showMessage = 0" style="cursor:pointer; padding:8px;"></span>
		</div>-->
    <md-card-content class="md-body-1">
        <div layout="row">
			<span flex><strong>From: </strong> Name/Email</span>
			<span>Feb 13, 2015</span>
		</div>
		<md-divider style="margin-top:16px"></md-divider>
        <h2>{{id}}</h2>
        <p class="md-body-1">
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
        <md-divider style="margin-bottom:16px"></md-divider>
        <h4>Signers</h4>
        <p class="md-body-1">
        	<a href="">Jim Stanley - CEO</a> | <a href="">Earl Draper - CFO</a>
        </p>
        <md-divider style="margin-bottom:16px"></md-divider>
		<div layout="row">
			<!--<md-button md-no-ink class="md-primary">View Invoice</md-button>-->
            <md-button md-no-ink ng-click="$root.showMessage = 0" class="md-primary">Close</md-button>
       		<md-button ng-disabled="false" class="md-raised md-primary">Approve Payment</md-button>
       	</div>
    </md-card-content>
</md-card>