<md-content flex class=" pad8 ">
    <md-contact-chips class="ContactChips" ng-model="account.signees" md-contacts="ctrl.querySearch($query,true)" md-contact-name="fullName" md-contact-image="thumbnailUrl" md-contact-email="email" md-require-match="true" placeholder="Enter names or email address">
    </md-contact-chips>
    <p>How many signatures are required?</p>
</md-content>
<md-content layout="row" layout-padding ng-show="account.signees.length">
    <md-slider flex="25" min="0" step="1" max="{{account.signees.length}}" ng-init="account.requiredSignatures = 1" md-discrete ng-model="account.requiredSignatures" aria-label="red" id="red-slider" class>
    </md-slider>
    <div flex="75" layout="row">
        <md-input-container md-no-float>
            <input type="text" ng-model="account.requiredSignatures" style="width:40px" aria-controls="red-slider">
        </md-input-container>
        <span class="signeesTotal"> of {{account.signees.length}} signees</span>
    </div>

</md-content>
