<div ng-cloak class="padStandard flexed"  layout="column" style="overflow-y:scroll;">
    <h2>Invoice</h2>
    <div layout="column">
            <div flex="">
                <md-input-container class="padBottom8">
                    <label>To:</label>
                    <input type="text">
                </md-input-container>
                
            </div>
        </div>
    </div><!-- ROW 1 -->
    <div>
        <div layout="row">
            <div flex="80"> 
                <md-input-container class="padBottom8">
                    <label>Line Item:</label>
                    <input type="text">
                </md-input-container>
            </div>
            <div flex="20">
                <md-input-container class="padBottom8">
                    <label>Cost:</label>
                    <input type="text">
                </md-input-container>
            </div>
        </div><!-- ROW 3 TABLE -->
    </div>
    <div><a href=""><i class=" mdfi_content_add"></i> Add Line</a></div>
    <div layout="row">
        <div flex="70">
            
        </div>
        <div flex="30" layout="column">
            <div layout="row">
                <div flex="50">SubTotal</div>
                <div>$0.00</div>
            </div>
            <div layout="row">
                <div flex="50"><strong>Total</strong></div>
                <div>$0.00</div>
            </div>
        </div>
    </div><!-- ROW 4 PAYMENT TOTAL -->
    <div>
        <md-input-container class="">
            <label>Message</label>
            <textarea ng-model="recipient.to.note" columns="1"></textarea>
        </md-input-container>
    </div>
    <div layout="row" layout-align="end">
            <button class="btn btnAqua" style="margin-right:8px;" ng-click="closeLightBox()">Cancel</button>  
            <button class="btn btn-primary">Send</button>
    </div>
</div>

