<!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<div container>
	<h1 class="text-center">
		Enter Verification
	</h1>
	<div class="row">
		<div class="col-xs-offset-4 col-xs-4">
			<div class="card">
				<div class="text-center">
					<span class="glyphicon glyphicon-heart-empty" style="font-size: 40px; color:#9B70FD; padding:8px;" aria-hidden="true"></span>
				</div>
				<form class="flexed padSide16 flexCol">
					<div class="flexCon pad8">
						<div class="flexed">
							<div class="flexCon">
								<input class="form-control text-center text-big" placeholder="" type="text">
								<span class="bar"></span>
								<label class="wide100 text-center" for="authorize">Enter authorization code</label>
							</div>
						</div> <!-- flexed -->
					</div>					
				</form>
				<hr>
				<div class="text-right padSide16">
					<span class="btn btn-primary btn-lg">
						SUBMIT AUTHORIZATION
					</span>
				</div>
				
			</div> <!-- card -->
		</div>
	</div>
	
</div>
