<!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<div container>
	<h1 class="text-center">
		Enter Two-Factor Authentication
	</h1>
	<p class="text-center">
		This begins the process of securing your wallet.
	</p>
	<div class="row">
		<div class="col-xs-offset-4 col-xs-4">
			<div class="card">
				<div class="text-center">
					<span class="glyphicon glyphicon-heart-empty" style="font-size: 40px; color:#9B70FD; padding:8px;" aria-hidden="true"></span>
				</div>
				<form class="flexed padSide16 flexCol">
					<div class="flexCon pad8">
						<div class="flexed">
							<div class="text-center inputFeedback">
								<i class="glyphicon glyphicon-ok text-success inputStatus"></i>
							</div>
							<div class="flexCon">
								<input class="form-control" placeholder="" type="text">
								<span class="bar"></span>
								<label for="organization">Enter Country</label>
							</div>
						</div> <!-- flexed -->

						<div class="flexed">
							<div class="text-center inputFeedback">
								<i class="glyphicon glyphicon-ok text-success inputStatus"></i>
							</div>
							<div class="flexCon">
								<input class="form-control" placeholder="" type="text">
								<span class="bar"></span>
								<label for="organization">Phone Number</label>
							</div>
						</div> <!-- flexed -->
					</div>					
				</form>
				<hr>
				<div class="text-right padSide16">
					<span class="btn btn-primary btn-lg" disabled="disabled">
						AUTHORIZE
					</span>
				</div>
				
			</div> <!-- card -->
		</div>
	</div>
	
</div>
