
<div container>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div>
                <span class="glyphicon glyphicon-record" style="font-size: 40px; color:#9B70FD; padding:8px;" aria-hidden="true"></span>
            </div>
            <div class="card">
                <p class="mar0">
                    Access the power of Pheeva by adding co-workers.
                </p>
                <hr>
                <div class="padSide16">
                    <div class="flexed" style="width:200px; margin:auto;">
                        <div class="text-center inputFeedback marRight15">
                            <i class="glyphicon glyphicon-user text-primary" style="font-size:41px;"></i>
                        </div>
                        <div class="flexCon marBottom24">
                            <strong>{{user.get('fullName')}}</strong>
                            <br>
                            <small>{{user.get('email')}}</small>
                        </div>
                    </div>

                </div>
                <div class="flexed padSide16">
	                <div class="flexCon pad8"  ng-repeat=" index in [0,1]">
	                    <div class="Media">
	                        <div class="Media-figure">
	                        	<img class="img-circle" src="img/download.svg" alt="" style="width:60px">
	                        </div><!-- Media-figure -->
	                        <div class="Media-body">
	                            <div class="pad4-8">
	                                <input class="form-control" ng-model="team[index].fullName" placeholder="TeamMate's Name" type="text">
	                                <span class="bar"></span>
	                                
	                            </div>
	                            <div class="pad8">
	                                <input class="form-control" ng-model="team[index].email" placeholder="TeamMate's Email" type="email">
	                                <span class="bar"></span>
	                                
	                            </div>
	                        </div>
	                    </div><!-- Media -->

	               
	                    <div class="Media">
	                        <div class="Media-figure">
	                        	<img class="img-circle" src="img/download.svg" alt="" style="width:60px">
	                        </div><!-- Media-figure -->
	                        <div class="Media-body">
	                            <div class="pad4-8">
	                                <input class="form-control" placeholder="TeamMate's Name" ng-model="team[index + 3].fullName" type="text">
	                                <span class="bar"></span>
	                                
	                            </div>
	                            <div class="pad8">
	                                <input class="form-control" placeholder="TeamMate's Email" ng-model="team[index + 3].email" type="email">
	                                <span class="bar"></span>
	                                
	                            </div>
	                        </div>
	                    </div><!-- Media -->
	                </div><!-- flexCon-->

	

	            </div> <!-- flexed -->

				<hr>
				<div class="text-right padSide16 pull-left">
					<a ui-sref="dash"span class="btn btn-default btn-lg">
						<span class="glyphicon">Skip</span>
					</a>
				</div>
				<div class="text-right padSide16 pull-right">
					<span ng-click="addTeam()" class="btn btn-primary btn-lg">
						<span class="glyphicon glyphicon-arrow-right"></span>
					</span>
				</div>
            </div>
            


        </div>
        <!-- card -->
    </div>
</div
