<div class="container">
    <h1 class="text-center">
		Welcome To Mothership
		<br>
		<small>Let's begin by setting up your profile.</small>
	</h1>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="card">
                <div class="text-center">
                    <i class="glyphicon glyphicon-heart-empty" style="font-size: 40px; color:#9B70FD; padding:8px;" aria-hidden="true"></i>
                </div>
                <form novalidate name="form" ng-submit="signUp()" class="flexed padSide16 ">
                    <div class="flexCon2 pad8">
                        <div class="flexed">
                            <div class="text-center inputFeedback" ng-hide="form.fullName.$error.required">
                                <i class="glyphicon glyphicon-ok text-success inputStatus"></i>
                            </div>
                            <div class="flexCon">
                                <input class="form-control" name="fullName" placeholder="" ng-model="userObj.fullName" required type="text">
                                <span class="bar"></span>
                                <label for="full name">Full Name</label>
                            </div>
                        </div>
                        <!-- flexed -->

                        <div class="flexed">
                    
                            <div class="text-center inputFeedback" ng-hide="form.uEmail.$error.email || form.uEmail.$error.required ">
                                <i class="glyphicon glyphicon-ok text-success inputStatus"></i>
                            </div>
                            <div class="flexCon">
                                <input class="form-control" placeholder="" ng-model="userObj.email" name="uEmail" type="email" required>
                                <span class="bar"></span>
                                <label for="email">Email</label>
                            </div>
                            <!-- flexed -->
                        </div>
                        <div class="flexed">
                         
                            <!--flexConent -->
                        </div>
                        <!--<div class="flexed">
						<div class="text-center inputFeedback">
							<i class="glyphicon glyphicon-remove text-danger inputStatus"></i>
						</div>
						 <div class="flexCon">
							<input class="form-control" placeholder="" type="password">
                            <span class="bar"></span>
							<label for="password">Verify Password</label>
						</div>-->
                        <!--flexConent-->
                        <!-- 	</div>
				</div> -->
                        <!-- flexCon2 -->
                        <div class="flexCon">
                            <div class="text-center">
                                <img src="img/download.svg" alt="" class="img-circle" style="width:100px">
                            </div>
                        </div>

                </form>
                <hr>
                <div class="text-right padSide16">
                    <button ng-disabled="form.$invalid" class="btn btn-primary btn-lg" ng-click="signUp()">
						<i class="glyphicon glyphicon-arrow-right"></i>
					</button>
                </div>

                </div>
                <!-- card -->
            </div>
        </div>

    </div>
