<div style="width:450px">
    <md-card class="fadeIn animated previewCard bg-danger pad16-0 md-whiteframe-z3">
        <!--             <div layout="row" ng-class="{'ng-hide':current}" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div> -->

        <div>
            <div>
                <h3 class="text-center mar0">Transaction Preview</h3>
                <hr>
                <div class="pad8-16" layout="column" ng-repeat="address in current.address">
                    <div class="bold">
                        To: {{(current.to === address) ? "External Account": current.toName}}</div>
                    <a>
                        <!--  {{address}} -->
                    </a>
                </div>
                <div layout="row">
                    <div flex class="pad8-16">
                        <div layout="row">
                            <span>Amount:</span>
                            <span flex class="text-right">{{current.amount | number:2}} {{$root.BTCunit}}</span>
                        </div>
                        <div layout="row">
                            <span>Fees:</span>
                            <span flex class="text-right">{{current.BCtx.tx.fees | convertCurrency:$root.BTCunit:null:2}} {{$root.BTCunit}}</span>
                        </div>
                        <hr>
                        <div layout="row">
                            <span>
                                    <strong>Total:</strong>
                                </span>
                            <span flex class="text-right">
                                    <strong>{{calculateTotal(current.amount,current.BCtx.tx.fees)|number:2}}</strong> {{$root.BTCunit}}</span>

                        </div>
                    </div>
                    <div flex class="pad8-16">
                        <div layout="row">
                            <span>Amount:</span>
                            <span flex class="text-right">{{current.amount | inSatoshis:$root.BTCunit | balance}}</span>
                        </div>
                        <div layout="row">
                            <span>Fees:</span>
                            <span flex class="text-right">{{current.BCtx.tx.fees | balance}}</span>
                        </div>
                        <hr>
                        <div layout="row">
                            <span>
                                <strong>Total:</strong>
                            </span>
                            <span flex class="text-right">
                                <strong>
                                {{calculateTotal(current.amount,current.BCtx.tx.fees) | inSatoshis: $root.BTCunit|balance}}
                                </strong>
                            </span>

                        </div>
                    </div>

                </div>

                <div class="pad8-16" style="background:rgba(0,0,0,0.05);">
                    <div ng-if="current.note">
                        Memo:
                        <p>{{current.note}}</p>
                    </div>
                    <div ng-if="current.tags">
                        Tags:
                        <p>{{current.tags}}</p>
                    </div>

                </div>
                <div class="pad8-16">

                    <div layout="row" layout-align="space-between">
                        <button class="btn btnAqua " ng-click=" closeTransBox();" flex="45">
                            Cancel
                        </button>
                        <button ng-click="signAndSend(current)" class="btn btn-primary" flex="45">
                            Sign & Send
                        </button>


                    </div>
                </div>
                <!--  -->
            </div>

        </div>

    </md-card>
</div>
<!-- centered content-->
