<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>You've been invited to join.</p>
	<a href="https://simplesend.parseapp.com/verified/<%= verificationToken%>/<%= userId%>" title="">
 Verify your email
	</a>

</body>
</html>