<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href="https://simplesend.parseapp.com/verified/<%= verificationToken%>/<%= userId%>" title="">
		Verify your email
	</a>
</body>
</html>